body {
    margin: 0;
    padding: 0;
}


body {
  background: rgb(249, 249, 249);
  font-family:
      -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      Roboto,
      Helvetica,
      Arial,
      sans-serif,
      "Apple Color Emoji",
      "Segoe UI Emoji",
      "Segoe UI Symbol";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}

h1 {
  /* color: rgba(200,16,46,1); */
  text-align: center;
  font-size: 3em;
  margin-top: 1em;

}

h2 {
  font-size: 1.7em;
  font-weight: 700;
  line-height: 1.375;
  text-align: center;
  margin-top: 60px;
}

#motto {
  color: rgb(200, 16, 47);
  font-style: italic;
  text-align: center;
}

h3 {
  margin-top: 60px;
  font-size: 1.6em;
  font-weight: 700;
  line-height: 1.375;
  color: rgba(200,16,46,1);
}

p {
  font-size: 1.15em;
  font-weight: 500;
  line-height: 1.375;
  color: rgb(56, 64, 67);
}

p a {
  color: black;
}

ol li {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.8;
  color: rgb(56, 64, 67);
}

.signUpButtonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px;

}

.nav {
  position: relative;
  top: 0;
  width: 100%;
  z-index: 10000;
  display: flex;
  justify-content: center;
  /* background-color: #ffffff; */

  background-color:#c8102e;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}
.nav .logoContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 25px;
}


.nav ul {
  list-style: none;
  /* background-color: #ffffff; */
  text-align: center;
  padding: 0;
  margin: 0;
}
.nav li {
  font-size: 16px;
  font-weight: 700;
  line-height: 3.375;
  height: 80px;
  border-bottom: 1px solid #888;
}

.nav .main-nav a {
  text-decoration: none;
  color: rgba(255,255,255,0.85);
  display: block;
  transition: .3s background-color;
  /* height: 100%; */
  padding: 0px 20px;
}

.nav .main-nav a:hover {
  background-color: rgba(255, 0, 0, 0.5);
  color: rgba(255,255,255,0.95);
}

.nav .main-nav a.active {
  background-color: rgb(255, 244, 247);
  color: rgba(255,255,255,1);
  color: rgb(255, 46, 99);
  cursor: default;
}

.page-container {
  border-radius: 8px;
  margin: 20px;
  padding: 20px;
  padding-top: 40px;
  background-color: #fefefe;
  /* box-shadow:  0 1px 1px rgba(0, 0, 0, 0.3); */
  box-shadow: rgba(0, 0, 0, 0.05) 0px 5px 20px;
}


body {
  text-align: center;
}

blockquote {
  position: relative;
  margin: 0px;
  margin-top: 40px;
  padding: 40px 40px;
  background-color: #f9f9f9;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 5px 20px;
}

blockquote::before {
	position:absolute;
  font-family: cursive;
	content:'"';
	color:  rgba(200,16,46,1);
	z-index: 20;
	font-size:100px;
	left: 20px;
  top: -60px;
}

@media screen and (min-width: 600px) {

  h2 {
    text-align: left;
  }

  body {
    text-align: left;
  }

  .nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000;
    display: flex;
    justify-content: center;
    /* background-color: #ffffff; */

    background-color:#c8102e;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  }

  .nav li {
    /* min-width: 120px; */
    border-bottom: none;
    height: 60px;
    font-size: 16px;
    font-weight: 700;
    line-height: 3.775;
  }

  /* Option 1 - Display Inline */
  .nav li {
    display: inline-block;
    margin-right: -4px;
  }

  .page-container {
    margin: 80px;
    margin-top: 120px;
    padding: 80px;
    padding-top: 40px;
  }

}




.coaching {
    height: 3em;
    width: 100%;
    text-align: center;
    padding-top: 1.25em;
    position: relative;
}

#coaching h2 {
    background-color: grey;
    padding: 2em;
    margin-top: .25em;
    margin-bottom: 0;
}

figure {
    display: inline-block;
}

#coaching img {
    margin-left: em;
    text-align: center;
    margin-top: 2.5em;
}


#coaching p {
    text-align: center;
}

#values {

    margin-top: 3em;
    margin-bottom: 0;
}

.value1 {
    border-top: solid black 2px;
    color: black;
    max-height: 25%;
    padding: 1.5em;
}

.value2 {
    color: black;
    padding: 1.5em;
    max-height: 25%;
}

.value3 {
    color: black;
    background-image: url(Images/soccer%20goal%20sunset.jpeg);
    opacity: .75;
    background-size: cover;
    background-position: center;
    padding: 1.5em;
    max-height: 25%;
}

.value4 {
    color: black;
    background-image: url(Images/stadium.jpeg);
    opacity: .75;
    background-size: cover;
    background-position: center;
    padding: 1.5em;
    max-height: 25%;
}

#facts {
    border-top: solid black 2px;
    padding: 1.5em;
}

.show {display:block;}


.image-right {
  position: relative;
  width: 50%;

  background-size: contain;
  &:before {
    content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: linear-gradient(to bottom right,#002f4b,#dc4225);
	opacity: .6;
  }
}

.hero {
  /* display: flex; */
  min-height: 400px;
  width: 100%;
}

#intro-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 4em;
}

#crest {
  width: 100%;
  height: 100%;
  min-height: 200px;
  display: flex;
  justify-content: space-around;
}

#crest img {
  height: 240px;
  width: auto;
}

#map-container {
  height: 360;
}

iframe {
  display:block;
  width:100%;
}

.button-container {
  margin: 60px;
  text-align: center;
}

.button-container button {
  background-color: rgba(200,16,46,1);
  font-size: 1.6em;
  font-weight: 700;
  color: rgba(255,255,255,1);
  padding: 15px 40px;
  border: none;
  outline: none;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 20px;

}

.button-container button:hover {
  background-color: rgba(200,16,46,1);
  font-size: 1.6em;
  font-weight: 700;
  color: rgba(255,255,255,1);
  padding: 15px 40px;
  border: none;
  outline: none;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 20px;

}
